/* App.css */
*{
  scrollbar-color: rgb(42, 42, 39) black;
  scrollbar-width: thin;
}


/* Set background color for the whole body */
body {
  
  background: url(https://wallpapers.com/images/hd/plain-gold-gradient-desktop-75iflvdthzzv177v.jpg
  ) repeat center center/cover;
  height: 100vh;
  top: 0px;
  left: 0px;
  width: 100%;
  position: relative;
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gold;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  
}

.header h1 {
  margin-left: 10px;
}

/* Logo styles */
.header img {
  width: 123px;
  height: 123px;;
  position: absolute;
  left: 10px;
}

/* HomePage styles */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 20fr);
  grid-gap: 10px;
  margin: 50px;
  padding: 10px;
  
  background-color: rgb(20, 18, 18);
}

.grid article {
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.grid-article-img{
  width: 100%;
  height: auto;
}

.grid article h3 {
  color: white;
  font-style:oblique;
  margin-top: 10px;
}

.Subheaders{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.Subheaders-img{
  height: 18px;
  width: 20px;
  text-align: center;
  justify-content: center;
}

.grid article h4 {
  color: gold;
  margin-top: 10px;
  
}

.grid article a {
  color: rgb(180, 123, 17);
  text-decoration: none;
  margin-top: 10px;
  font-style: italic;
}

/* Summary styles */
.summary-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 60%;
  padding: 0;
}


.summary-movie-name {
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  align-items: center;
  color: rgb(19, 17, 17);
}

.summary-description {
 width: 500px;
  /* transform: translate(-50%, -50%); */
  justify-content: center;
  text-align: center;
  color: white;
}

.book-movie-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

/* BookMovie styles */
.book-movie-container {
  position: fixed;
  margin-top: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  height: 500px;
  width: 750px;
  padding: 20px;
  z-index: 1000;
  color: white;
}

.Form-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(218, 156, 14);
  color: rgb(23, 20, 20);
  width: 200px;
}


.book-movie-container.visible {
  visibility: visible;
  opacity: 1;
}

.book-movie-container h2, h1 {
  color: gold;
  text-align: center;
}

.book-movie-container form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-movie-container label {
  color: rgb(22, 19, 19);
  margin-bottom: 5px;
}

.book-movie-container input {
  padding: 5px;
  margin-bottom: 10px;
}

.book-movie-container button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color:rgb(218, 156, 14);
  color: rgb(19, 18, 17);
  border-radius: 58%;
  cursor: pointer;
}

