/* App.css */
* {
  scrollbar-color: rgb(42, 42, 39) black;
  scrollbar-width: thin;
  box-sizing: border-box;
}

body {
  background: url(https://wallpapers.com/images/hd/plain-gold-gradient-desktop-75iflvdthzzv177v.jpg) repeat center center/cover;
  height: 100vh;
  top: 0px;
  left: 0px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gold;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.9);
}

.header h1 {
  margin-left: 10px;
  font-size: 24px;
}

/* Logo styles */
.header img {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 10px;
}

/* HomePage styles */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  margin: 20px;
  padding: 10px;
  background-color: rgb(20, 18, 18);
}

.grid article {
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.grid-article-img {
  width: 100%;
  height: auto;
}

.grid article h3 {
  color: white;
  font-style: oblique;
  margin-top: 10px;
  font-size: 16px;
}

.Subheaders {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.Subheaders-img {
  height: 18px;
  width: 20px;
}

.grid article h4 {
  color: gold;
  margin-top: 10px;
  font-size: 16px;
}

.grid article a {
  color: rgb(180, 123, 17);
  text-decoration: none;
  margin-top: 10px;
  font-style: italic;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  
  .header h1 {
    font-size: 20px;
  }
  
  .header img {
    width: 40px;
    height: 40px;
  }
  
  .grid article h3,
  .grid article h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    margin: 10px;
    padding: 5px;
  }
  
  .header h1 {
    font-size: 16px;
  }
  
  .header img {
    width: 30px;
    height: 30px;
  }
  
  .grid article h3,
  .grid article h4 {
    font-size: 12px;
  }
}


/* Summary styles */
.summary-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 60%;
  padding: 0;
}


.summary-movie-name {
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  align-items: center;
  color: rgb(19, 17, 17);
}

.summary-description {
 width: 500px;
  /* transform: translate(-50%, -50%); */
  justify-content: center;
  text-align: center;
  color: white;
  margin-top: 2px;
}

@media screen and (max-width: 520px) {
  .summary-description {
    width: 300px;
  }

}

.book-movie-btn {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

/* BookMovie styles */
.book-movie-container {
  position: fixed;
  margin-top: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  height: 550px;
  width: 750px;
  padding: 20px;
  z-index: 1000;
  color: white;
}

@media screen and (max-width: 830px) {
  .book-movie-container {
    width: 500px;
    height: 700px;
  }

}

@media screen and (max-width: 500px) {
  .book-movie-container {
    width: 200px;
  }

}

.Form-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(218, 156, 14);
  color: rgb(23, 20, 20);
  width: 200px;
}


.book-movie-container.visible {
  visibility: visible;
  opacity: 1;
}

.book-movie-container h2, h1 {
  color: gold;
  text-align: center;
}

.book-movie-container form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-movie-container label {
  color: rgb(22, 19, 19);
  margin-bottom: 5px;
}

.book-movie-container input {
  padding: 5px;
  margin-bottom: 10px;
}

.book-movie-container button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color:rgb(218, 156, 14);
  color: rgb(19, 18, 17);
  border-radius: 58%;
  cursor: pointer;
}

